.addForm {
}

.addForm > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 9px;
}
.addForm > div > p {
  margin-bottom: 10px;
  font-size: 14px;
}

.addForm > div > input {
  border: 1px solid gray;
  padding: 6px 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-family: "lora";
  max-width: 100px;
}
