.imageUploader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  flex-direction: column;
  margin-top: 15px;
}
.ImageUploader > img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
}

input[type="file"] {
  display: none;
}

.ImageUploader_fileUpload {
  padding: 7px;
  background-color: #007bff;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ImageUploader_fileUpload:hover {
  background-color: #0062cc;
}

.ImageUploader_progressBarContainer {
  width: 100%;
  height: 1.5rem;
  background-color: #f5f5f5;
  border-radius: 0.25rem;
  margin-top: 1rem;
  padding: 0.25rem;
}
.ImageUploader_progress-bar {
  height: 100%;
  background-color: #007bff;
  border-radius: 0.25rem;
}

.imageUploadder_button {
  margin-top: 10px;
  padding: 6px;
  font-size: 15px;
  background-color: #fdba74;
  color: #fff;
  border: 1px solid #fdba74;
  border-radius: 53px;
  cursor: pointer;
  width: 53%;
  /* flex: 0.6; */
  font-family: "Lora";
  transition: all 0.3s ease-in-out;
  position: absolute;
  bottom: 20px;
}
.imageUploadder_button:hover {
  border: 1px solid rgb(27, 27, 27);
  background-color: white;
  color: rgb(27, 27, 27);
}
.imageUploadder_button:active {
  transform: scale(0.9);
}
.imageUploader > p {
  font-size: 13px;
  margin-top: 5px;
}
