.LandingFood {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
  border-radius: 38px;
  backdrop-filter: blur(12px);
  background-color: hsla(0, 0%, 100%, 0.4);
  filter: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.04))
    drop-shadow(0 4px 3px rgba(0, 0, 0, 0.1));
  min-height: 170px;

  font-family: "lora";

  /*  box-shadow: -2px 4px 19px 1px rgb(165, 165, 165); */
}

.LandingFood > img {
  width: 160px;
  height: 145px;
  margin-top: -60px;
  object-fit: contain;
}
.LandingFood_contants {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.LandingFood_contants > h1 {
  font-size: 18px;
  color: rgb(37, 37, 37);
}

.LandingFood_contants > h2 {
  font-size: 16px;
  color: #a7a6ae;
  font-weight: 100;
}

.LandingFood_contants > p {
  font-size: 14px;
  color: rgb(36, 36, 36);
}
.landingFood_span {
  color: #e0550a;
}
