.menuRow_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menuRow_buttons {
  display: flex;
}
.menuRow_buttons > button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background-color: #fdba74;
  border: none;
  border-radius: 11px;
  margin: 10px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  outline: none;
}
.menuRow_buttons > button:hover {
  background-color: #f8952b;
  transform: scale(1.1);
}
.menuRow_buttons > button:active {
  background-color: #f8952b;
  transform: scale(0.7);
}
.menuRow_buttons > button > svg {
  color: #f5f3f3;
  font-size: 19px;
}
.menuRow_addButton {
  background-color: rgb(81, 128, 0) !important;
}
.menuRow_deleteButton {
  background-color: rgb(195, 39, 0) !important;
}
.menuRow_cards {
  display: flex;
  align-items: center;
  width: 100%;
  overflow-x: auto;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.menuRow_cards::-webkit-scrollbar {
  display: none;
}
